
@{
    ViewData["Title"] = "Product";
}

<h2 class="text-center">Yu-Gi-Oh! All Items</h2>

<div class="row">
    <div class="col-2">
        <div class="card" style="padding: 10px">
            <h6 class="text-center">Categories</h6>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <a href="smt">Supreme Darkness</a> </li>
                <li class="list-group-item"> <a href="smt">Solid Invasion</a> </li>
                <li class="list-group-item"> <a href="smt">Genesis Madness</a> </li>
            </ul>
            <hr>
            <br />

            <h6 class="text-center">Filter</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
            </ul>

            <form class="row g-3">
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Keyword</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Min $</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Max $</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Out of Stock
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-10">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 zoom">
                            <img src="https://52f4e29a8321344e30ae-0f55c9129972ac85d6b1f4e703468e6b.ssl.cf2.rackcdn.com/products/pictures/1818455.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-text fw-bold">Ostinato - RA03-EN064 - Secret Rare 1st Edition</h5>
                                <a href="#">Quarter Century Bonanza 1st Edition Singles</a>
                                <hr />

                                <div class="row text-center">
                                    <div class="col-md-5">
                                        <label class="form-label">Price</label>
                                        <p class="card-text">$0.78</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputState" class="form-label">Quantity</label>
                                        <select id="inputState" class="form-select">
                                            <option selected>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                                        <button type="button" class="btn btn-icon btn-round btn-success">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 zoom">
                            <img src="https://52f4e29a8321344e30ae-0f55c9129972ac85d6b1f4e703468e6b.ssl.cf2.rackcdn.com/products/pictures/1659216.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-text fw-bold">Bloom Harmonist the Melodious Composer - DUOV-EN020 - Ultra Rare 1st Edition</h5>
                                <a href="#">Duel Overload 1st Edition Singles</a>
                                <hr />

                                <div class="row text-center">
                                    <div class="col-md-5">
                                        <label class="form-label">Price</label>
                                        <p class="card-text">$0.98</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputState" class="form-label">Quantity</label>
                                        <select id="inputState" class="form-select">
                                            <option selected>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                                        <button type="button" class="btn btn-icon btn-round btn-success">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 zoom">
                            <img src="https://52f4e29a8321344e30ae-0f55c9129972ac85d6b1f4e703468e6b.ssl.cf2.rackcdn.com/products/pictures/1102223.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-text fw-bold">Bloom Diva the Melodious Choir - MP16-EN020 - Ultra Rare 1st Edition</h5>
                                <a href="#">Quarter Century Bonanza 1st Edition Singles</a>
                                <hr />

                                <div class="row text-center">
                                    <div class="col-md-5">
                                        <label class="form-label">Price</label>
                                        <p class="card-text">$0.99</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputState" class="form-label">Quantity</label>
                                        <select id="inputState" class="form-select">
                                            <option selected>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                                        <button type="button" class="btn btn-icon btn-round btn-success">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
