@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Game

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form asp-controller="data" asp-action="editgame" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="card-header">
                    <div class="card-title">Edit Game</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="name">Game Name</label>
                                <input type="text"
                                       class="form-control"
                                       asp-for="Name"
                                       placeholder="Enter Game Name" />
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="imageInput">Image</label>
                                <div class="input-group">
                                    <!-- URL alanı -->
                                    <input type="text"
                                           class="form-control"
                                           id="imageInput"
                                           name="ImageUrl"
                                           placeholder="Enter Image URL or choose a file" />

                                    <!-- Dosya yükleme butonu -->
                                    <div class="input-group-append">
                                        <label class="btn btn-outline-secondary mb-0">
                                            Upload
                                            <input type="file"
                                                   id="fileInput"
                                                   name="ImageFile"
                                                   asp-for="ImageUrl"
                                                   class="form-control"
                                                   style="display: none;" />
                                        </label>
                                    </div>
                                </div>

                                <br>
                                <span class="text-danger" asp-validation-for="ImageUrl"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-action text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a asp-controller="data" asp-action="games" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
